volumio-plugins.iml
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
# Ignore all node_modules in all sub dirs
node_modules/
# Ignore all .DS_Store
.DS_Store
**/.DS_Store
plugins/music_service/.DS_Store
**/.com.apple.timemachine*
plugins/user_interface/rotaryencoder2/._.DS_Store
