#balbuze's config file for volumio with modular_alsa
pcm.volumioBauer {
    type lfloat
    slave.pcm    "volumioBauer2"
    slave.format "FLOAT"
}


pcm.volumioBauer2 {
  type ladspa
   slave.pcm "postBauer"

  path "/usr/lib/ladspa"
  plugins [
    {
      label bs2b
      input {
        controls [ ${myprofile} ]
      }
    }
  ]
}
