[Unit]
Description=Logitech Media Server Daemon
After=network.target

[Service]
User=volumio
PermissionsStartOnly=true
#Group=nogroup
PIDFile=/var/run/logitechmediaserver.pid
# Legacy code; name is still squeezeboxserver
WorkingDirectory=/var/lib/squeezeboxserver
ExecStartPre=/bin/mkdir -p /var/log/squeezeboxserver
ExecStartPre=/bin/chown -R volumio:volumio /var/log/squeezeboxserver
ExecStart=/usr/sbin/squeezeboxserver \
        --prefsdir /var/lib/squeezeboxserver/prefs \
        --cachedir /var/lib/squeezeboxserver/cache \
        --logdir /var/log/squeezeboxserver \
        --charset utf8

[Install]
WantedBy=multi-user.target