[current]
meter = ${meter}
random.meter.interval = 20
screen.size = ${screensize}
output.display = ${localdisplay}
output.serial = ${serial}
output.i2c = ${i2c}
output.pwm = ${pwm}
use.logging = False
frame.rate = 30

[sdl.env]
framebuffer.device = /dev/fb1
mouse.device = /dev/input/touchscreen
mouse.driver = TSLIB
video.driver = dummy
video.display = :0

[serial.interface]
device.name = ${device}
baud.rate = ${baud}
include.time = ${stime}
update.period = ${speriod}

[i2c.interface]
port = ${port}
left.channel.address = ${leftc}
right.channel.address = ${rightc}
output.size = ${outputsize}
update.period = ${updateperiod}

[pwm.interface]
frequency = ${pwmfreq}
gpio.pin.left = ${gpiol}
gpio.pin.right = ${gpior}
update.period = ${pwmupdateperiod}

[data.source]
type = pipe
polling.interval = 0.033
pipe.name = /tmp/myfifopeppy
volume.constant = 80.0
volume.min = 0.0
volume.max = 100.0
volume.max.in.pipe = 100.0
step = 6
mono.algorithm = average
stereo.algorithm = new
smooth.buffer.size = 4
