[spop]
spotify_username = ${username}
spotify_password = ${password}


high_bitrate = ${bitrate}
audio_output = sox
pretty_json = true
search_results = 50
cache_path =/run/shm
plugins = scrobble

[scrobble]
api_endpoint = http://post.audioscrobbler.com:80/
username = ${lastfmusername}
password = ${lastfmpassword}

[sox]
output_type = alsa
output_name = ${outdev}
