[spop]
spotify_username = ${username}
spotify_password = ${password}


high_bitrate = ${bitrate}
audio_output = sox
pretty_json = true
search_results = 50
cache_path =/run/shm

[sox]
output_type = alsa
output_name = ${outdev}
