cd /data/plugins/music_service/volspotconnect/spotify-connect-web
./spotify-connect-web  --username '${username}' --password '${password}' --bitrate ${rate} --name '${devicename}' --playback_device ${outdev} ${mixer}  ${mixind} --dbrange 45 ${familyshare} &
avahi-publish-service '${devicename}' _spotify-connect._tcp 4000 VERSION=1.0 CPath=/login/_zeroconf
