
[Unit]
Description=Volspotconnect Daemon
After=syslog.target

[Service]
Type=simple
ExecStart=/data/plugins/music_service/volspotconnect/spotify-connect-web/startconnect.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=volumio
User=volumio
Group=volumio

[Install]
WantedBy=multi-user.target

