pcm.ladspa {
  type ladspa
  slave.pcm "plughw:${bauerout}"
  path "/usr/lib/ladspa"
  plugins [
    {
      label bs2b
      input {
        controls [ ${levelfcut} ${levelfeed} ]
      }
    }
  ]
}

pcm.headphones {
 type plug
 slave {
  pcm "ladspa"
 }
}

