#brutefir config for volumio - other variable to be added later for setting (filter lenght, float_bits output etc)
    sampling_rate: ${smpl_rate};
    filter_length: ${filter_size},${numb_part};
    overflow_warnings: true;
    show_progress: false;
    float_bits: ${fl_bits};
    powersave: true;
    convolver_config: "/data/configuration/miscellanea/brutefir/brutefir_convolver"; # location of convolver config file
logic:
 "cli" { port: 3002;},
"eq"  {
	{
                coeff: "equalizer","dblbuf";
                #bands: "ISO octave";
		bands: 31, 63, 125, 250, 500, 1000, 2000, 4000, 8000, 16000;
                magnitude:  31/0.0, 63/0.0, 125/0.0, 250/0.0, 500/0.0, 1000/0.0, 2000/0.0, 4000/0.0, 8000/0.0, 16000/0.0;
        };
};
#
coeff "equalizer" {
        filename: "dirac pulse";
        shared_mem: true;
        blocks: 4;
	
};

coeff "dblbuf" {
filename: "dirac pulse";
shared_mem: true;
blocks: 4;
#attenuation: ${attenuation};
};

input "l_in", "r_in" {
            device: "alsa" {device: "hw:${input_device}";};
            sample: "${input_format}";   # sample format
            channels: 2;            # number of open channels / which to use
#		delay: 0,5;
#		maxdelay: -1;
    };


# Add equalizer
filter "eq_l" {
from_inputs: "l_in"/${attenuation1};
#to_outputs: "l_drc";
to_filters: "l_drc";
process: -1; # process index to run in (-1 means auto)
coeff: "equalizer";
delay: 0; # predelay, in blocks
crossfade: false; # crossfade when coefficient is changed
};

filter "eq_r" {
from_inputs: "r_in"/${attenuation2};
#to_outputs: "r_drc";
to_filters: "r_drc";
process: -1; # process index to run in (-1 means auto)
coeff: "equalizer";
#delay: 0; # predelay, in blocks
crossfade: false; # crossfade when coefficient is changed
}; 

coeff "filter_1" {
filename: "${leftfilter}";
format: "${filter_format1}";
attenuation: ${filterattenuation1};
};

filter "l_drc" {
from_filters: "eq_l";
to_outputs: "l_out"/0.0;
coeff: "filter_1";
process: -1;
};

coeff "filter_2" {
filename: "${rightfilter}";
format: "${filter_format2}";
attenuation: ${filterattenuation2};
};

filter "r_drc" {
from_filters: "eq_r";
to_outputs: "r_out"/0.0;
coeff: "filter_2";
process: -1;
};

   output "l_out", "r_out" {
            device: "alsa" {device: "${output_device}"; ignore_xrun: true; };
#         device: "file" {path: "/dev/stdout";};
            sample: "${output_format}";   # sample format
            channels: 2;        # number of open channels / which to use
#	delay: 0,0;
#	maxdelay: -1;
	dither: false;
    };
