#!/bin/bash


SERVER=${serverip}
NINTERFACE=${interface}

 wget -q --tries=10 --timeout=20 --spider ${SERVER} > /dev/null 2>&1
#ping -c2 ${SERVER} > /dev/null

if [ $? != 0 ]
then
    # Restart the wireless interface
  # ip link set ${NINTERFACE} down
#	sleep 2
#   ip link set ${NINTERFACE} up
	#systemctl stop wireless.service
	#sleep 2
        #systemctl start wireless.service
	/sbin/ifdown --force ${NINTERFACE}
 	systemctl restart wireless
fi

