 
pcm.!default { 
 type plug 
 slave.pcm plugequal; 
} 
ctl.equal { 
 type equal; 
} 
pcm.plugequal { 
 type equal; 
 slave.pcm "plughw:${hwout},0"; 
}
pcm.equal {
 type plug;
 slave.pcm plugequal;
 }
