 
    ctl.equal {
      type equal
      controls /home/volumio/.alsaequal.bin
    }

    pcm.plugequal {
      type equal
      slave.pcm   "plughw:${hwout}"
      controls /home/volumio/.alsaequal.bin
    }

    pcm.equal {
      type plug
      slave.pcm plugequal
    }