
[Unit]
Description=alsaloop for volsimpleequal
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/bin/alsaloop -C plughw:Loopback,1 -P plug:plugequal -t 80000 -w 500
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=volumio
User=root
Group=root

[Install]
WantedBy=multi-user.target
