[Unit]
Description=NanoSound OLED Diplay Service

[Service]
ExecStart=/data/plugins/miscellanea/nanosound/oled/nanodac_oled.py
StandardOutput=null

[Install]
WantedBy=multi-user.target
Alias=nanosound_oled.service
