[Unit]
Description=CamillaDSP Daemon
After=syslog.target

[Service]
Type=simple
ExecStart=/data/plugins/audio_interface/Parameq4Volumio/camilladsp -p9876 -v /data/configuration/audio_interface/Parameq4Volumio/camilladsp.yml
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=volumio
User=volumio
Group=volumio
TimeoutSec=100ms

[Install]
WantedBy=multi-user.target

