[Unit]
Description = Allo Relay attenuator Service

[Service]
ExecStart=/usr/bin/r_attenu -l
ExecStop=/usr/bin/killall r_attenu
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rattenu
User=root
Group=root

[Install]
WantedBy=multi-user.target

